/**
Header styles
**/
@media not print{

    header{
        background: #0e7746;
        color:#ffffff;
        margin:0;
        padding:0.5em;
    
        position:relative
    }
    h1{
        margin:0;
        padding:0;
        float:left;
    }
    header button{
   
    }
    .main_menu{
        text-align:right
    }
    .main_menu #selectMenu{
        margin-left:0.5em;
        margin-right:0.5em
    }
    
    header a{
        color:#fff;
        cursor:pointer
    }
    header a:hover{
        color:#fff;
        cursor:pointer
    }
 
    #type_menu_collapse{
        position:relative;
        background:#0e7746;
        z-index:10;
        background:rgb(26, 77, 39);
        display:flex;
        margin-bottom:5px;
    }

    #type_buttons{
        margin-left:1em
    }
        
    #type_menu_collapse button{
        margin:0 !important;
    }
    
   
    
}
@media print{
    header button, header a, #type_menu_collapse{
        display:none !important;
    }
    
}
