.main_content{
    padding-top:120px;
    padding-left:80px;
    text-align:center;
}
.main_content p, 
.main_content h3, 
.main_content ul{
    text-align:left;
}
.main_content div.chart_view{

    border-bottom:1px solid #ccc;
    padding-top:1em;
    padding-bottom:1em;
}
.info_popup{
    background:rgb(228, 235, 228);
    color:#000;
    overflow-y:auto;
    height:85%;
    text-align:left;
}
.info_popup h4{
    font-size:100%;
    margin-top:1.5em;
    font-weight:bold;
    margin-left:1em;
    margin-right:1em;
}
.info_popup p{
    margin-left:2em;
    margin-right:1em;
}
.chart_view button{
    margin:1em
}