.App{
    position:relative;
}
#main_container{
    margin-top:60px
}
.verticaltext {
    position: relative; 
    min-height:120px;
}

.verticaltext_content {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    min-height:200px;
    position:relative;
    bottom:200px
}
